#game-board {
    border: 2px solid rgb(0, 225, 255);
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin: 0 auto;
 background: url('/src/imgs/back.gif');
    

}/*
.game-intro {
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: red;
    padding: 10px;
    z-index: 1;
}
